<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estadiv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconos"
        android:label="Estaviv2"
        android:roundIcon="@mipmap/iconos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PerfilActivity" />
    </application>

</manifest>